.title {
    font-weight: bold;
    font-size: 20px;
}

.description {
    color: #222222;
    font-size: 18px;
}


.button-style {
  grid-column-start: -3;
}

/* .extended-fab-button {
  width: unset;
  padding: 0 26px;
  border-radius: 29px;

  .mat-icon {
    margin-right: 10px;
  }

  .extended-fab-button__text {
    font-weight: 300;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
} */
