/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0!important; padding: 0 !important; font-family: Roboto, "Helvetica Neue", sans-serif; }

.add-fab-location {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}
